<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Twitter</title>
    <link rel="stylesheet" href="/css/style.css">

    <link rel="icon" href="/images/iconTwitter.png">
</head>

<body>
    <section class="section-accueil">

        <div class="tweet-navigation">
            <img class="tweet-navigation-image" src="/images/logoTwitter.png" alt="">
            <div class="tweet-navigation-link">
                <a href="/">
                    <img src="/images/home-run.png" alt="">
                    <h2>Home</h2>
                </a>
                <a href="">
                    <img src="/images/hastag.png" alt="">
                    <h2>Explore</h2>
                </a>
                <a href="">
                    <img src="/images/bookmark.png" alt="">
                    <h2>Bookmarks</h2>
                </a>
                <a href="/username">
                    <img src="/images/user.png" alt="">
                    <h2>My Tweets</h2>
                </a>
                <a href="/logout">
                    <img src="/images/logout.png" alt="">
                    <h2>Logout</h2>
                </a>
            </div>
        </div>

        <div class="tweet-container">
            <div class="tweet-container-title">
                <h3>Home</h3>
            </div>
            <form action="/tweets" method="post" class="tweet-container-form">
                <div class="tweet-container-message">
                    <label for="message"></label>
                    <div class="tweet-container-text">
                        <textarea name="message" id="message" placeholder="Whats's happening ?"></textarea>
                    </div>

                </div>
                <div class="tweet-container-button">
                    <button type="submit" class="tweet-button">Tweet</button>
                </div>
                <% console.log(tweets); %>

            </form>
            <p>

                <% tweets.forEach((tweet) => { %>
                    <!-- <% console.log(tweet); %> -->

                    <p>
                        <a href=" user/<%=tweet.user_id%> ">
                            <%= tweet.username %>
                        </a>
                        (ID:
                        <%= tweet.user_id %>)

                            <a href=" user/<%=tweet.user_id%>/tweet/<%= tweet.id %> ">
                                <p>
                                    <!-- <%= tweet.id %> -->
                                    <!-- TWEET TEXT: -->
                                    <!-- <%= tweet.text %> -->
                                    Tweet ID:
                                    <%=tweet.id %>
                                </p>
                            </a>

                            <form class="form" action="/tweet/<%=tweet.id %>/edit" method="post">
                                <div class="form-input">
                                    <label for="name"><%= tweet.text %></label>
                                    <input type="text" name="name" id="name" required>
                                    <button type="submit" class="tweet-button">edit</button>

                                </div>
                            </form>

                            <form action="/tweet/<%=tweet.id %>/delete" method="post" class="tweet-container-form">
                                <button type="submit" class="tweet-button">delete</button>
                            </form>


                            <% }) %>
                    </p>







                    <div class="comments">




                    </div>

        </div>

        <div class="tweet-search"></div>

    </section>
</body>

</html>